name: Continuous Integration

on:
    push:
        branches: [ "master" ]
    pull_request:
        branches: [ "master" ]

permissions:
    contents: read

jobs:
  build:

    name: CI

    runs-on: ubuntu-latest

    container: php:8.2-apache

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Composer
        run: |
          apt-get update
          apt-get install -y unzip curl
          curl -sS https://getcomposer.org/installer | php
          mv composer.phar /usr/local/bin/composer

      - name: Install Dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Run PHPUnit Tests
        run: ./vendor/bin/phpunit